@import url("https://fonts.googleapis.com/earlyaccess/opensanshebrew.css");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,600&display=swap");

$myFont: "Open Sans Hebrew", sans-serif;
$headerFont: "Rubik", sans-serif;
$FontSize: 18px;
$myColor: rgb(92, 86, 78);
$bgColor1: rgba(246, 246, 226, 0.561);

html {
  box-sizing: border-box;
  width: 100vw;
  height: fit-content;

  h1,
  h2,
  h3,
  h4 {
    font-family: $headerFont;
    color: $myColor;
  }
  p {
    color: $myColor;
    font-family: $myFont;
    font-size: $FontSize;
  }
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: inherit;
}

#root {
  width: 100%;
}

* {
  scroll-behavior: smooth;
}

.App {
  display: flex;
  font-size: $FontSize;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
  width: 100%;
  background-color: #fffff8;
}

.page {
  width: 100% !important;
  margin-top: 90px;
}
.header {
  background: #f5efda;
  width: 100%;
  right: 0px;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  position: fixed;
  top: 0;
  z-index: 15;
  box-shadow: 7px 2px 14px 0px #1e1d1d7a;

  @media screen and (max-width: 992px) {
    .logo {
      position: relative;
      top: 0;
    }
  }

  .burger {
    display: none;
    @media screen and (max-width: 992px) {
      display: block;
    }
  }

  .trans {
    height: inherit;
    display: flex;
    align-items: center;
    background: rgba(102, 143, 157, 0.582);

    a {
      text-decoration: none;
    }

    .btn {
      font-size: $FontSize;
      padding: 0.618rem;
      padding-left: 1rem;
      padding-right: 1rem;
      background: transparent;
      border: none;
      width: 100%;
      height: 100%;
      color: white;
      display: flex;
      justify-content: center;
    }

    .btn:hover {
      animation: btnTransAnimation 1s ease-in;
      background-color: rgba(226, 142, 64, 0.849);
    }
    @keyframes btnTransAnimation {
      from {
        background-color: #c3a68c;
      }
      to {
        background-color: rgba(226, 142, 64, 0.849);
      }
    }
  }
  .navbar {
    display: flex;
    // @media screen and (max-width: 992px) {
    //   display: none;
    // }

    ul {
      display: inline-flex;
      justify-content: center;
      align-items: flex-end;
      li {
        display: block;
        margin: 1rem;
        color: rgb(110, 101, 89);
      }

      a {
        text-decoration: none;
      }

      .item {
        border-bottom: 0;
      }
      .item::after {
        display: block;
        content: "";
        border-bottom: 2px solid #c3a68c;
        transform: scaleX(0);
        transition: transform 500ms ease-in-out;
      }

      .item:hover::after {
        transform: scaleX(1);
      }
      .item:hover {
        animation: itemAnimation 500ms ease-in-out;
        color: #c3a68c;
      }

      .item_active {
        border-bottom: 2px solid #c3a68c;
        color: #d3a780;

        @keyframes itemAnimation {
          from {
            color: rgb(110, 101, 89);
          }
          to {
            color: rgba(226, 142, 64, 0.849);
          }
        }
      }
    }

    @media screen and (max-width: 992px) {
      ul {
        display: none;
      }
    }
  }

  .logo {
    height: 90px;
  }

  .navbar-small-screen {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    padding: 1.5rem;
    

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      li {
        display: block;
        margin: 1rem;
        color: rgb(110, 101, 89);
      }

      a {
        text-decoration: none;
      }

      .item {
        border-bottom: 0;
      }

      .item_active {
        border-bottom: 2px solid #c3a68c;
        color: #d3a780;
      }
    }
  }
}

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61.8vh;
  overflow: hidden;
  width: 100vw;

  .circle {
    position: absolute;
    top: 50%;
    left: 50rem;
    font-size: 4rem;
    color: #cad7c7;
    z-index: 10;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
  }
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 4rem;
    color: #cad7c7;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 4rem;
    color: #cad7c7;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }

  .desc {
    z-index: 10;
    position: absolute;
    top: 60%;
    right: 2em;
    font-size: 4rem;
    color: rgb(255, 255, 255);
    // text-shadow: 1px 1px rgba(65, 65, 65, 0.479);
    background-color: #cad7c767;
    height: 30%;
    width: 30%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
  }

  .slide {
    display: flex;
    opacity: 0;
    transform: translateX(0);
    transition: all 1s ease-in-out;
    position: absolute;
  }

  .image {
    display: inline-flex;
    width: 100vw;
    height: 580px;
  }

  .active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }
}

.products {
  position: relative;
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    text-decoration: none;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 1.5rem;
    margin-bottom: 3rem;
    width: 90%;
  }

  .card {
    background: #cad7c780;
    border: 1px solid rgba(85, 50, 129, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 450px;
    height: 450px;
    border-radius: 20%;
    margin: 2rem;
    padding: 3rem;
  }

  .image {
    height: 250px;
    transform: scale(1);
    transition-duration: 1s;
  }
  .image:hover {
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transform: scale(1.08);
  }

  @media screen and (max-width: 450px) {
    .card {
      width: 250px;
      height: 450px;
    }
    .image {
      height: 150px;
    }
  }
}

.single-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
}

.about {
  position: relative;
  display: grid;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #f5efda;
  justify-items: center;
  height: fit-content;
  align-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 4rem;
  padding: 4rem;

  .desc {
    width: 60%;
    text-align: initial;
    color: white !important;
    z-index: 1;
  }

  .contour {
    position: absolute;
    height: 104%;
    left: 0px;
  }
  .pic {
    z-index: 1;

    img {
      border-radius: 100%;
      transition-duration: 1s;
      transform: scale(1);

      height: 450px;
    }
    img:hover {
      transition-duration: 1s;
      transition-timing-function: ease-in-out;
      transform: scale(1.08);
    }
  }
  @media screen and (max-width: 450px) {
    .pic {
      img {
        height: 300px;
      }
    }
  }
}

.articles {
  position: relative;
  background-color: #e4ebe0;
  width: inherit;
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 35px 35px;

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 2em;
    gap: 5em;

    .box {
      display: flex;
      width: 100%;
      align-content: center;
      align-items: center;
      justify-content: center;
      height: fit-content;
      border: 15px double #09413e85;
      padding-left: 2em;
    

      a {
        text-decoration: none;
      }
    }
    .wind {
      height: 1.5em !important;
      width: 1.5em !important;
      color: #c79278c7;
      margin: 1.5em;
      flex: none;
    }
  }
}

.article {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: right;

  .container {
    width: 60%;
    border: 5px solid #cfdfe8;
    padding: 5rem;
    border-radius: 1%;
    background-color: rgba(243, 243, 243, 0.247);
  }
}

.faq {
  position: relative;

  width: 100%;
  display: flex;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .accordion {
    width: 60%;
  }
  .item {
    position: relative;
    background-color: #cad7c780;
    margin-bottom: 1em;
    padding: 10px 20px;
  }
  .title {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .content {
    position: absolute;
    display: flex;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);

    p {
      position: absolute;
    }
  }
  .content.show {
    position: relative;
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1, 0, 1, 0);
    p {
      position: relative;
    }
  }
}

.page.contact {
  height: 69vh;
}

.contact {
  position: relative;
  width: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 2rem;
    width: 80%;

    .description {
      display: block;
    }
  }
  .pattern {
    height: 300px;
    z-index: 0;
    opacity: 0.2;
    position: absolute;
    left: 7rem;
  }

  .submit {
    background-color: #cad7c7;
    margin: 10px;
    color: #cad7c7;
    border: 2px solid;
    border-radius: 100%;
    z-index: 1;

    .plane {
      border: transparent !important;
      border-radius: 0;
      height: 2.5em;
      width: 2.5em;
      color: #fbfdfb;
      z-index: 1;
      right: 50%;
    }
  }
  .table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
    align-content: center;

    .field {
      z-index: 1;
      width: 300px;
      height: 30px;
      background: #fffff8fb;
      box-shadow: inset 0px 2px 2px rgba(58, 57, 57, 0.185);
      border-radius: 15px;
      border-bottom: 0.5px solid rgba(58, 57, 57, 0.185);
      border-top: none;
      border-right: none;
      border-left: none;
    }
    .textarea {
      width: 350px;
      height: 70px;
    }
  }
}

.footer {
  position: relative;
  border-radius: 35px 35px 0px 0px;
  bottom: 0px;
  background-color: #cad7c75d;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  justify-items: center;
  align-items: center;
  justify-content: center;

  .logo {
    height: 200px;
  }
}

.admin {
  position: relative;

  display: grid;
  height: fit-content;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  justify-content: center;

  .sidebar {
    grid-column: 1/2;
    grid-row: 1/5;
    height: 100%;
    width: 100%;

    .nav {
      .list {
        height: inherit;
        padding-top: 50px;

        .item {
          font-size: 1.618rem;
          padding-top: 15px;
        }
      }
    }
  }

  .content {
    background-color: rgb(255, 255, 255);
    grid-column: 2/6;
    grid-row: 1/5;
    height: inherit;
    width: 100%;
    padding: 1em;

    .grid {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      align-items: center;
      justify-content: center;
      justify-items: center;
      margin: 2rem;

      .card {
        margin: 1rem;
        // border: 2px solid $myColor;
        border-radius: 15%;
        width: 100%;
        padding: 2rem;
        .img {
          height: 150px;
          width: 300px;
        }
      }
    }

    .form {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: flex-end;
      margin: 2rem;
    }

    .form_table {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;

      .label {
        padding-bottom: 0.5rem;
        font-size: 15px;
      }

      .field {
        border: 2px solid $myColor;
        border-radius: 10%;
      }

      .error {
        color: red;
        font-size: 13px;
      }
    }
  }
}

.messages {
  display: flex;
  position: relative;

  .display {
    display: flex;
    width: -webkit-fill-available;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content: center;

    .details {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      width: -webkit-fill-available;
      justify-content: center;
    }
    .content {
      display: flex;
      flex-direction: column;
    }
    p {
      padding: 0.5em;
    }
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    width: fit-content;
  }

  .message {
    display: flex;
    border: 2px solid $myColor;
    width: 450px;
    flex-direction: row;
    justify-content: space-between;

    p {
      padding: 0.5em;
    }

    button {
      position: relative;
    }
  }
}

@media screen and (max-width: 900px) {
} ;
